.intro{
    background-color: aqua ;
    border: 4px dashed whitesmoke;
}
#fwt{
  font-weight: normal;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}
#fwr{
font-weight: normal;
}
#sk{
    font-weight: normal;
}
.skl{
    background-color: beige;
    border: 5px dashed white;
}
.bio{
    background-color: aquamarine;
    border: 5px dashed white;
}
